@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme {
  --font-sans: 'Public Sans', sans-serif;
}

.text-stroke {
  -webkit-text-stroke: 1px #ffffff;
  -webkit-text-fill-color: transparent;
}